<template>
    <el-tree ref="menuTree" :data="menus" :props="defaultProps" @node-click="nodeClick" node-key="catId">

    </el-tree>
</template>

<script>

export default {
    // 定义属性
    data() {
        return {
            menus: [],
            defaultProps: {
                children: 'children',
                label: 'name'
            },
            expandKeys: []

        };
    },
    // 计算属性，会监听依赖属性值随之变化
    computed: {
    },
    // 监控data中的数据变化
    watch: {},
    // 方法集合
    methods: {
        getThirdMenus() {
            this.dataListLoading = true
            this.$http({
                url: this.$http.adornUrl('/product/category/list/tree'),
                method: 'get'
            }).then(({ data }) => {
                this.menus = data.data
            })
        },
        nodeClick(data,node,component){
            console.log("公共category被点击",data,node,component);
            //父子组件通信
            this.$emit("tree-node-click",data,node,component)
        }
    },
    // 生命周期 - 创建完成（可以访问当前this实例）
    created() {
        this.getThirdMenus()
    },
    // 生命周期 - 挂载完成（可以访问DOM元素）
    mounted() {

    },
    beforeCreate() { }, // 生命周期 - 创建之前
    beforeMount() { }, // 生命周期 - 挂载之前
    beforeUpdate() { }, // 生命周期 - 更新之前
    updated() { }, // 生命周期 - 更新之后
    beforeDestroy() { }, // 生命周期 - 销毁之前
    destroyed() { }, // 生命周期 - 销毁完成
    activated() { }, // 如果页面有keep-alive缓存功能，这个函数会触发
}
</script>

<style></style>