<template>
    <el-row :gutter="20">
        <el-col :span="6">
            <category @tree-node-click="treeNodeClick"></category>
        </el-col>
        <el-col :span="18">
            <div class="mod-config">
                <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
                    <el-form-item>
                        <el-input v-model="dataForm.key" placeholder="参数名" clearable></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="getDataList()">查询</el-button>
                        <el-button type="success" @click="getAllDataList()">查询全部</el-button>
                        <el-button v-if="isAuth('product:attrgroup:save')" type="primary"
                            @click="addOrUpdateHandle()">新增</el-button>
                        <el-button v-if="isAuth('product:attrgroup:delete')" type="danger" @click="deleteHandle()"
                            :disabled="dataListSelections.length <= 0">批量删除</el-button>
                    </el-form-item>
                </el-form>
                <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle"
                    style="width: 100%;">
                    <el-table-column type="selection" header-align="center" align="center" width="50">
                    </el-table-column>
                    <el-table-column prop="attrGroupId" header-align="center" align="center" label="分组id">
                    </el-table-column>
                    <el-table-column prop="attrGroupName" header-align="center" align="center" label="组名">
                    </el-table-column>
                    <el-table-column prop="sort" header-align="center" align="center" label="排序">
                    </el-table-column>
                    <el-table-column prop="descript" header-align="center" align="center" label="描述">
                    </el-table-column>
                    <el-table-column prop="icon" header-align="center" align="center" label="组图标">
                    </el-table-column>
                    <el-table-column prop="catelogId" header-align="center" align="center" label="所属分类id">
                    </el-table-column>
                    <el-table-column fixed="right" header-align="center" align="center" width="150" label="操作">
                        <template slot-scope="scope">
                            <el-button type="text" size="small"
                                @click="relationHandle(scope.row.attrGroupId)">关联</el-button>
                            <el-button type="text" size="small"
                                @click="addOrUpdateHandle(scope.row.attrGroupId)">修改</el-button>
                            <el-button type="text" size="small" @click="deleteHandle(scope.row.attrGroupId)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle"
                    :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage"
                    layout="total, sizes, prev, pager, next, jumper">
                </el-pagination>
                <!-- 弹窗, 新增 / 修改 -->
                <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>

                <!-- 修改关联关系 -->
                <relation-update v-if="relationVisible" ref="relationUpdate" @refreshData="getDataList"></relation-update>
            </div>
        </el-col>

    </el-row>
</template>

<script>
import Category from '../common/category'
import AddOrUpdate from './attrgroup-add-or-update'
import RelationUpdate from "./attr-group-relation";
export default {
    components: { Category, AddOrUpdate, RelationUpdate },
    // 定义属性
    data() {
        return {
            catelogId: 0,
            dataForm: {
                key: ''
            },
            dataList: [],
            pageIndex: 1,
            pageSize: 10,
            totalPage: 0,
            dataListLoading: false,
            dataListSelections: [],
            addOrUpdateVisible: false,
            relationVisible: false
        }
    },
    // 计算属性，会监听依赖属性值随之变化
    computed: {
    },
    // 监控data中的数据变化
    watch: {},
    // 方法集合
    methods: {
        //处理分组与属性的关联
        relationHandle(groupId) {
            this.relationVisible = true;
            this.$nextTick(() => {
                this.$refs.relationUpdate.init(groupId);
            });
        },
        getAllDataList() {
            this.catelogId = 0;
            this.getDataList();
        },
        // 获取数据列表通过catelogId
        getDataList() {
            this.dataListLoading = true
            this.$http({
                url: this.$http.adornUrl(`/product/attrgroup/list/${this.catelogId}`),
                method: 'get',
                params: this.$http.adornParams({
                    'page': this.pageIndex,
                    'limit': this.pageSize,
                    'key': this.dataForm.key
                })
            }).then(({ data }) => {
                if (data && data.code === 0) {
                    this.dataList = data.page.list
                    this.totalPage = data.page.totalCount
                } else {
                    this.dataList = []
                    this.totalPage = 0
                }
                this.dataListLoading = false
            })
        },

        // // 获取数据列表
        // getDataList() {
        //     this.dataListLoading = true
        //     this.$http({
        //         url: this.$http.adornUrl('/product/attrgroup/list'),
        //         method: 'get',
        //         params: this.$http.adornParams({
        //             'page': this.pageIndex,
        //             'limit': this.pageSize,
        //             'key': this.dataForm.key
        //         })
        //     }).then(({ data }) => {
        //         if (data && data.code === 0) {
        //             this.dataList = data.page.list
        //             this.totalPage = data.page.totalCount
        //         } else {
        //             this.dataList = []
        //             this.totalPage = 0
        //         }
        //         this.dataListLoading = false
        //     })
        // },
        // 每页数
        sizeChangeHandle(val) {
            this.pageSize = val
            this.pageIndex = 1
            this.getDataList()
        },
        // 当前页
        currentChangeHandle(val) {
            this.pageIndex = val
            this.getDataList()
        },
        // 多选
        selectionChangeHandle(val) {
            this.dataListSelections = val
        },
        // 新增 / 修改
        addOrUpdateHandle(id) {
            this.addOrUpdateVisible = true
            this.$nextTick(() => {
                this.$refs.addOrUpdate.init(id)
            })
        },
        // 删除
        deleteHandle(id) {
            var ids = id ? [id] : this.dataListSelections.map(item => {
                return item.attrGroupId
            })
            this.$confirm(`确定对[id=${ids.join(',')}]进行[${id ? '删除' : '批量删除'}]操作?`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$http({
                    url: this.$http.adornUrl('/product/attrgroup/delete'),
                    method: 'post',
                    data: this.$http.adornData(ids, false)
                }).then(({ data }) => {
                    if (data && data.code === 0) {
                        this.$message({
                            message: '操作成功',
                            type: 'success',
                            duration: 1500,
                            onClose: () => {
                                this.getDataList()
                            }
                        })
                    } else {
                        this.$message.error(data.msg)
                    }
                })
            })
        },
        //父子通信
        treeNodeClick(data, node, component) {
            if (node.level == 3) {
                this.catelogId = data.catId
                this.getDataList()
            }
        }
    },
    // 生命周期 - 创建完成（可以访问当前this实例）
    created() {

    },
    // 生命周期 - 挂载完成（可以访问DOM元素）
    mounted() {

    },
    beforeCreate() { }, // 生命周期 - 创建之前
    beforeMount() { }, // 生命周期 - 挂载之前
    beforeUpdate() { }, // 生命周期 - 更新之前
    updated() { }, // 生命周期 - 更新之后
    beforeDestroy() { }, // 生命周期 - 销毁之前
    destroyed() { }, // 生命周期 - 销毁完成
    activated() {
        this.getDataList()
    } // 如果页面有keep-alive缓存功能，这个函数会触发
}

</script>

<style></style>