<template>
  <div>
    <el-dialog :title="dialogTitle" :visible.sync="dialogVisible" width="30%" :close-on-click-modal="false">
      <el-form :model="categoryForm">
        <el-form-item label="分类名称">
          <el-input v-model="categoryForm.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="图标">
          <el-input v-model="categoryForm.icon" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="计量单位">
          <el-input v-model="categoryForm.productUnit" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitData(categoryForm)">确 定</el-button>
      </span>
    </el-dialog>



    <el-row>
      <el-col :span="8">
        <el-switch v-model="draggable" active-text="开启拖拽" inactive-text="关闭拖拽">
        </el-switch>
      </el-col>
      <el-col :span="8">
        <el-button type="primary" icon="el-icon-edit" @click="() => batchSave()">保存修改</el-button>
      </el-col>
      <el-col :span="8">
        <el-button type="danger" icon="el-icon-delete" @click="() => batchDelete()">批量删除</el-button>
      </el-col>

    </el-row>


    <el-tree ref="tree" :data="menus" :props="defaultProps" :expand-on-click-node="false"
      :default-expanded-keys="expandKeys" :draggable="draggable" :allow-drop="allowDrop" show-checkbox node-key="catId"
      @node-drop="handleDrop">
      <span class="custom-tree-node" slot-scope="{ node, data }">
        <span>{{ node.label }}</span>
        <span>
          <el-button v-if="node.level <= 2" type="text" size="mini" @click="() => append(data)">
            添加
          </el-button>
          <el-button v-if="node.childNodes == 0" type="text" size="mini" @click="() => remove(node, data)">
            删除
          </el-button>
          <el-button type="text" size="mini" @click="() => edit(data)">
            修改
          </el-button>
        </span>
      </span>
    </el-tree>
  </div>
</template>

<script>

export default {
  // 定义属性
  data() {
    return {
      pCid: [],
      menus: [],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      maxLevel: 0,
      expandKeys: [],
      dialogVisible: false,
      dialogType: "",
      dialogTitle: '',
      categoryForm: {
        name: '',
        parentCid: 0,
        catLevel: 1,
        showStatus: 0,
        sort: 0,
        catId: null,
        productUnit: '',
        icon: ''
      },
      maxLevel: 0,
      updateMenus: [],
      draggable: false
    };
  },
  // 计算属性，会监听依赖属性值随之变化
  computed: {
  },
  // 监控data中的数据变化
  watch: {},
  // 方法集合
  methods: {
    getThirdMenus() {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/product/category/list/tree'),
        method: 'get'
      }).then(({ data }) => {
        this.menus = data.data
      })
    },
    append(data) {
      console.log("append", data);
      this.dialogVisible = true;
      this.categoryForm.parentCid = data.catId
      this.categoryForm.catLevel = data.catLevel * 1 + 1
      this.dialogType = "add"
      this.dialogTitle = "添加"
    },
    remove(node, data) {
      var ids = [data.catId]
      this.$confirm(`此操作将删除该【${data.name}】, 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$http({
          url: this.$http.adornUrl('/product/category/delete'),
          method: 'post',
          data: this.$http.adornData(ids, false)
        }).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
          this.getThirdMenus()
          this.expandKeys = [node.parent.data.catId]
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });
      })
    },
    addCategory(categoryForm) {
      console.log("categoryForm", categoryForm);
      this.$http({
        url: this.$http.adornUrl('/product/category/save'),
        method: 'post',
        data: this.$http.adornData(categoryForm, false)
      }).then(() => {
        this.$message({
          type: 'success',
          message: '添加成功!'
        });
        this.getThirdMenus()
        this.dialogVisible = false
        this.expandKeys = [categoryForm.parentCid]
      })
    },
    edit(data) {
      console.log("edit", data);
      this.dialogVisible = true
      this.dialogType = "edit"
      this.dialogTitle = "修改"

      this.$http({
        url: this.$http.adornUrl(`/product/category/info/${data.catId}`),
        method: 'get'
      }).then(({ data }) => {
        this.categoryForm.name = data.category.name
        this.categoryForm.catId = data.category.catId
        this.categoryForm.productUnit = data.category.productUnit
        this.categoryForm.icon = data.category.icon
        this.categoryForm.parentCid = data.category.parentCid
      })


    },
    editCategory(categoryForm) {
      let { catId, name, icon, productUnit } = categoryForm
      let category = { catId, name, icon, productUnit }
      this.$http({
        url: this.$http.adornUrl(`/product/category/update`),
        method: 'post',
        data: this.$http.adornData(category, false)
      }).then(({ data }) => {
        console.log("update", data);
        this.$message({
          type: 'success',
          message: '修改成功!'
        });
        this.getThirdMenus()
        this.dialogVisible = false
        this.expandKeys = [categoryForm.parentCid]
      })
    },
    submitData(categoryForm) {
      if (this.dialogType === "add") {
        this.addCategory(categoryForm)
      }
      if (this.dialogType === "edit") {
        this.editCategory(categoryForm)
      }
    },

    allowDrop(draggingNode, dropNode, type) {
      //1、被拖动的当前节点以及所在的父节点总层数不能大于3

      //1）、被拖动的当前节点总层数
      //
      this.countNodeLevel(draggingNode);
      //当前正在拖动的节点+父节点所在的深度不大于3即可
      let deep = Math.abs(this.maxLevel - draggingNode.level) + 1;

      //   this.maxLevel
      if (type == "inner") {
        console.log("draggingNode",draggingNode);
        return deep + dropNode.level <= 3;
      } else {
        return deep + dropNode.parent.level <= 3;
      }
    },
    countNodeLevel(node) {
      //找到所有子节点，求出最大深度
      if (node.childNodes != null && node.childNodes.length > 0) {
        for (let i = 0; i < node.childNodes.length; i++) {
          if (node.childNodes[i].level > this.maxLevel) {
            this.maxLevel = node.childNodes[i].level;
          }
          this.countNodeLevel(node.childNodes[i]);
        }
      }
    },
    // allowDrop(draggingNode, dropNode, type) {
    //   var preLevel = draggingNode.data.catLevel
    //   var afterLevel = dropNode.data.catLevel

    //   if (preLevel == afterLevel) {
    //     if (type != 'inner') {
    //       return true
    //     }
    //     return false
    //   }
    //   if (preLevel > afterLevel) {
    //     if (type == 'inner') {
    //       return true
    //     } else if (type == 'prev' || type == 'next') {
    //       return true
    //     } else {
    //       return false
    //     }
    //   }
    // },

    handleDrop(draggingNode, dropNode, dropType, ev) {

      let pCid = 0;
      let siblings = null;
      if (dropType == 'before' || dropType == 'after') {
        pCid = dropNode.parent.data.catId == undefined ? 0 : dropNode.parent.data.catId
        siblings = dropNode.parent.childNodes
      } else {
        pCid = dropNode.data.catId
        siblings = dropNode.childNodes
      }
      this.pCid.push(pCid)
      //获取最新的顺序
      for (let i = 0; i < siblings.length; i++) {
        if (siblings[i].data.catId == draggingNode.data.catId) {
          let catLevel = draggingNode.level;
          if (siblings[i].level != draggingNode.level) {
            catLevel = siblings[i].level
            this.updateChildLecvel(siblings[i])
          }
          this.updateMenus.push({ catId: siblings[i].data.catId, sort: i, parentCid: pCid, catLevel: catLevel })
        } else {
          this.updateMenus.push({ catId: siblings[i].data.catId, sort: i })
        }
      }
      console.log("updateMenus", this.updateMenus);
    },
    updateChildLecvel(node) {
      if (node.childNodes.length > 0) {
        for (let i = 0; i < node.childNodes.length; i++) {
          var cNode = node.childNodes[i].data
          this.updateMenus.push({ catId: cNode.catId, catLevel: node.childNodes[i].level })
          this.updateChildLecvel(node.childNodes[i])
        }
      }

    },
    batchSave() {
      this.$http({
        url: this.$http.adornUrl("/product/category/update/sort"),
        method: "post",
        data: this.$http.adornData(this.updateMenus, false)
      }).then(({ data }) => {
        this.$message({
          type: "success",
          message: "修改成功"
        })
        this.getThirdMenus()
        this.expandKeys = this.pCid
        this.updateMenus = []
        // this.pCid = 0
        this.maxLevel = 0
      })
    },
    batchDelete() {
      let deleteIds = this.$refs.tree.getCheckedKeys()
      console.log("删除ids", deleteIds);

      this.$confirm(`此操作将批量删除选中的菜单, 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$http({
          url: this.$http.adornUrl('/product/category/delete'),
          method: 'post',
          data: this.$http.adornData(deleteIds, false)
        }).then(() => {
          this.$message({
            type: 'success',
            message: '批量删除成功!'
          });
          this.getThirdMenus()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });
      })
    }


  },
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.getThirdMenus()
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {

  },
  beforeCreate() { }, // 生命周期 - 创建之前
  beforeMount() { }, // 生命周期 - 挂载之前
  beforeUpdate() { }, // 生命周期 - 更新之前
  updated() { }, // 生命周期 - 更新之后
  beforeDestroy() { }, // 生命周期 - 销毁之前
  destroyed() { }, // 生命周期 - 销毁完成
  activated() { }, // 如果页面有keep-alive缓存功能，这个函数会触发
}
</script>
